extends ../layout

block content

    section(class="main-content")
        hgroup(class="title")
            h1 Log in.
            h2 Enter your user name and password below.

            - if ('undefined' !== typeof errors && errors.length)
                ul#errors
                - each error in errors
                    li.error= error

          section(id="loginForm")
            form(method="post", action="/login")
                fieldset
                    legend Log in to Your Account.
                    ol
                        li(class="username")
                            label(for=everyauth.password.loginFormFieldName) Email:
                            input(type="text", name=everyauth.password.loginFormFieldName, value=email)
                        li(class="password")
                            label(for=everyauth.password.passwordFormFieldName) Password:
                            input(type="password", name=everyauth.password.passwordFormFieldName)
                        li(class="remember-me")
                            input(type="checkbox", id="rememberMe", name="rememberMe", value="true")
                            label(class="checkbox", for="rememberMe") Remember me?
                    input(type="submit", value="Login")

            a(href="/register") Don't have an Account?
  
        section(class="social", id="socialLoginForm")
            form(method="post")
                h2 Use another service to log in
                div(class="message-info")
                    p 
                        | To let users of this site log in using their accounts from other sites such as Facebook, Twitter, 
                        | and Windows Live, you must update this site. For more information
                        a(href="http://go.microsoft.com/fwlink/?LinkId=255183&clcid=0x409", target="_blank") click here
                        |.
              
                // to use OAuth logins:
                // - uncomment the fieldset below that contains the oauth providers
                // - create an API key for each service, and put those keys in settings.json (see settings.example.json)
                        
            
                //fieldset
                    legend Log in using another service
                    a.fb_button_medium(href='/auth/facebook', class="button")
                        img(src='/images/facebookLogin.png')
                    br
                    br
                    a(href='/auth/twitter', style='border: 0px')
                        img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')

