!!! 5
html
  head
    - if (typeof(title) == 'undefined')
        title Welcome to WebMatrix
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/style.css')
    
    // include default scripts and any view scripts
    script(src=base + '/javascripts/jquery-1.7.min.js')
    
  body   
    header
      div(class='content-wrapper')
        div(class="float-left")
          p(class="site-title")
            a(href="/") your logo here.
        div(class="float-right")
          section#login
            ul
              li
                a(href="/") Register
              li
                a(href="/login") Log in
          nav
            ul#menu
              li 
                a(href="/") Home
              li 
                a(href="/chat") Chat
              li
                a(href="/about") About
    #body!= body
      
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="http://facebook.com", class="facebook") Facebook
              a(href="http://twitter.com", class="twitter") Twitter